<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
		
		<img src="" class="profile" th:src="@{/image/profile.jpg}" alt="" />
		<h1>Adding CSS, Javaspcript, and image in thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta perferendis dolor iusto adipisci consequuntur magni voluptatem dolorem iste ut laborum natus quod. Excepturi itaque fugit nobis voluptatem natus praesentium sunt.</p>
		
	</div>
	
	<script src="" th:src="@{/js/myjs.js}"></script>
</body>
</html>